.img1{
    float: left;
}
.div1 { 
    display: grid;
    row-gap: 15px;
    grid-template-columns: 1fr 10fr 15fr 2fr 2fr 2fr;
}
.img2{
    float: right;
    border: 2px solid black;
    padding: 2px ;
}
.heading1{
    text-align: center;
}
.div6{
    display: grid;
    row-gap: 30px;
    grid-template-columns: 1fr 15fr 1fr 1fr 0fr 0fr;
}
.div5{
    display:grid;
    row-gap: 30px;
    grid-template-columns: 15fr 1fr 1fr;
}
.div9{
    font-size: 20px;
}